/* Main style */ 

/* Header */

.header {
	width: 100%;
	height: 100%;
	background-color: $white;
	background-image: url('../images/line_header.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 0 145px;
}

.header__container {
	position: relative;
}

.header__navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 34px;
}

.nav__list {
	display: flex;
}

.nav__link {
	font-family: $font;
	font-weight: 600;
	font-size: 18px;
	color: $fontColor;
}

.nav__link:hover {
	font-weight: 800;
}

.nav__item {
	text-align: center;
	margin: 0 23px;
}

.nav__item--about {
	width: 69px;
}

.nav__item--out {
	width: 129px;
}

.nav__item--wire {
	width: 112px;
}

.nav__item--digital {
	width: 134px;
}

.nav__item--contact {
	width: 67px;
}

.phone__article {
	color: $fontColor;
	width: 172px;
	font-size: 18px;
	font-family: $font2;
	text-align: right;
	background-image: url('../images/phone_nav.jpg');
	background-repeat: no-repeat;
	line-height: 25px;
}

.navigation__menu{
	display: none;
}

.header__hero {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero__logo {
	width: 100%;
}

.hero__title {
	font-size: 48px;
	color: $fontColor2;
	font-weight: 700;
	font-family: $font;
	max-width: 384px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.header__side {
	position: relative;
	left: 0;
	top: 40%;
	transform: translateY(-50%);
}

.side__number {
	font-size: 24px;
	color: $fontColor2;
	font-family: $font;
	font-weight: 400;
	margin-bottom: 15%;
}

.side__line {
	width: 1px;
	height: 258px;
	background-color: $fontColor2;
	margin-left: 1px;
}

.side__link {
	font-size: 18px;
	text-transform: uppercase;
	color: $fontColor2;
	font-family: $font;
	font-weight: 600;
	position: absolute;
	transform: rotate(-90deg);
	bottom: -72px;
	left: -31px;
}

/* Services */ 

.services {
	height: 849px;
	width: 100%;
	background-color: $fontColor2;
	display: flex;
}

.services__cell {
	width: 33.3%;
}

.services__box {
	display: flex;
	width: 75%;
}

.services__cell--one {
	background-image: url('../images/line_serv.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 25%;
}

.services__cells {
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
}

.services__cell--two {
	background-image: url('../images/serv_two.jpg');
}

.services__cell--three {
	background-image: url('../images/serv_three.jpg');
}

.services__cell--four {
	background-image: url('../images/serv_four.jpg');
}

.services__subtitle {
	font-size: 36px;
	font-family: $font;
	font-weight: 400;
	margin-top: 46px;
	margin-left: 53px;
	position: relative;

	&::before {
		content: '';
  		width: 147px;
  		height: 2px;
  		background-color: #ffffff;
  		position: absolute;
  		top: -19px;
  		left: 0; 
	}
}

.services__side {
	position: relative;
	left: 175px;
	bottom: -198px;
}

.services__link {
	color: #ffffff;
	bottom: -67px;
	left: -38px;
}

.services__number {
	color: #ffffff;
	margin-bottom: 46px;
}

.services__title {
	font-size: 68px;
	font-family: $font;
	color: #ffffff;
	font-weight: 200;
	margin-bottom: 46px;
	margin-left: -5px;
}

.services__line {
	background-color: #ffffff;
}

/* About */

.about {
	max-height: 865px;
	width: 100%;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: row;
}

.about__cell--one {
	width: 25%;
	background-image: url('../images/line_about.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 865px;
}

.about__cell--two {
	width: 75%;
	display: flex;
	align-items: center;
}

.about__title {
	color: $fontColor2;
}

.about__side {
	position: relative;
	left: 175px;
	top: 168px;
}

.about__number {
	margin-bottom: 46px;
}

.about__link {
	left: -71px;
	bottom: -103px;
}

.about__article {
	font-size: 24px;
	line-height: 36px;
	max-width: 860px;
	margin: 0 175px;
	font-family: $font;
	font-weight: 400;
}

.about__strong {
	font-weight: 700;
}

.date {
	height: 864px;
	width: 100%;
	display: flex;
}

.date__cell {
	border: 1px solid red;
}

.date__cell--one {
	width: 25%;
	background-image: url('../images/line_data.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

.date__cell--two {
	width: 25%;
	background-color: #424242;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date__cell--three {
	width: 50%;
	background-color: $white;
}

.date__number {
	color: $white;
	margin-bottom: 46px;
}

.date__line {
	background-color: $white;
}

.date__link {
	color: $white;
	left: -38px;
	bottom: -70px;
}

.date__side {
	position: relative;
	left: 175px;
	top: 165px;
}

.data__content {
	text-align: center;
}

.two__numer {
	color: $white;
	font-size: 271.25px;
	font-weight: 700;
	font-family: $font;
}

.two__time {
	color: $white;
	font-size: 24px;
	font-family: $font;
	font-weight: 500;
	margin-top: 31px;
}

.two__article {
	color: $white;
	font-size: 36px;
	font-family: $font;
	font-weight: 500;
	line-height: 60px;
	width: 250px;
	margin: 0 auto;
	margin-top: 13px;
}

.tree__row {
	display: flex;
	height: 50%;
}

.tree__cell {
	border-top: 1px solid #000000;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tree__content {
	text-align: center;
}

.tree__cell--one {
	border-right: 1px solid #000000;
}

.tree__cell--three {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.tree__cell--four {
	border-bottom: 1px solid #000000;
	background-color: #424242;
	color: $white;
}

.tree__numer {
	font-size: 91.61px;
	font-family: $font;
	font-weight: 500;
}

.tree__time {
	font-size: 17.36px;
	font-family: $font;
	font-weight: 500;
	margin-top: 41px;
}

.tree__article {
	font-size: 28.93px;
	font-family: $font;
	font-weight: 500;
	line-height: 46.29px;
	width: 210px;
	margin-top: 10px;
}

/* Care */

.care {
	width: 100%;
	background-color: $white;
	height: 809px;
	background-image: url('../images/line_care.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
}

.care__cell{
	border: 1px solid red;
}

.care__cell--one {
	width: 25%;
}

.care__cell--two {
	width: 75%;
}

.care__side{
	position: relative;
	top: 120px;
	left: 175px;
}

.care__title {
	color: $fontColor2;
}

.care__number {
	margin-bottom: 46px;
}

.care__line {
	height: 402px;
}

.care__cell--two {
	display: flex;
	align-items: center;
}

.care__conntent {
	margin: 0 175px;
}

.care__title {
	font-size: 36px;
	font-family: $font;
	font-weight: 400;
}

.care__title--firm {
	font-weight: 700;
	margin-bottom: 0px;
}

.care__article {
	font-family: $font;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px
}

.care__strong {
	font-weight: 700;
	border: 1px solid $fontColor2;
	padding: 2px 8px;
}

.care__article--problem {
	margin-top: 56px;
}

/* Footer */ 

.footer {
	width: 100%;
	height: 232px;
	background-color: $fontColor;
	padding-top: 78px;
}

.footer__container {
	border: 1px solid red;
	display: flex;
	height: 63px;
}

.footer__cell--copyright {
	width: 25%;
}

.footer__cell {
	color: $white;
}

.footer__article {
	font-size: 14px;
	line-height: 30px;
	font-family: $font;
	font-weight: 300;
}

.footer__logo {
	margin-top: 8px;
}

.footer__link {
	color: $white;
}

.footer__article--design{
	width: 200px;
	background-image: url('../images/logo_footer.jpg');
	background-repeat: no-repeat;
	background-position: center right;
}

.footer__cell--navigation {
	width: 50%;
}

.navigation__list {
	display: flex;
	justify-content: center;
	line-height: 63px;
}

.navigation__link {
	color: $white;
	font-size: 18px;
	font-family: $font;
	font-family: 600;
}

.navigation__link:hover {
	text-decoration: underline;
}

.navigation__item {
	margin: 0 23px;
}

.footer__cell--contact {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contact__article {
	font-size: 14px;
	font-family: $font2;
	font-weight: 500;
	line-height: 24px;
}

.contact__article--phone {
	width: 112px;
	text-align: right;
	background-image: url('../images/phone_footer.jpg');
	background-repeat: no-repeat;
	background-position: center left;
}

.contact__article--email {
	width: 142px;
	text-align: right;
	background-image: url('../images/meil_footer.jpg');
	background-repeat: no-repeat;
	background-position: center left;
}


