/* Global for subpages */ 

/* Header */

.subpage-header {
	height: 436px;
	background-image: url(../images/line_oheader.jpg);
}

.subpage-header__hero {
	display: flex;
	height: calc(100% - 80px);
	justify-content: center;
	align-items: center;
}

.subpage-header__title {
	font-size: 48px;
	font-family: $font;
	font-weight: 700;
	color: $fontColor2;
}

/* Outsourcing */ 

/* Kinds */

.kinds {
	width: 100%;
	height: 850px;
	display: flex;
	overflow: hidden;
}

.kinds__cell {
	border: 1px solid red;
	width: 25%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.kinds__cell--one {
	background-image: url('../images/kinds_one.jpg');
}

.kinds__cell--two {
	background-image: url('../images/kinds_two.jpg');
}

.kinds__cell--three {
	background-image: url('../images/serv_three.jpg');
}

.kinds__cell--four {
	background-image: url('../images/serv_four.jpg');
}

.kinds__subtitle {
	font-family: $font;
	font-size: 36px;
	font-weight: 400;
	position: relative;
	margin-left: 53px;
	margin-top: 425px;

	&::before {
		content: '';
  		width: 147px;
  		height: 2px;
  		background-color: #ffffff;
  		position: absolute;
  		top: -19px;
  		left: 0; 
	}
}

.kinds__link {
	color: $white;
}

.kinds__link:hover {
	color: #d9d9d9;
}

.kinds__acordion {
	background-color: #22201b;
	display: none;
	flex-direction: column;
	justify-content: center;
	width: 25%;
}

.acordion__subtitle {
	font-size: 36px;
	font-family: $font;
	font-weight: 400;
	color: $white;
	position: relative;
	margin-top: 46px;
	margin-bottom: 48px;
	margin-left: 36px;
	margin-right: 36px;

	&::before {
		content: '';
  		width: 147px;
  		height: 2px;
  		background-color: #ffffff;
  		position: absolute;
  		top: -19px;
  		left: 0; 
	}
}

.acordion__article {
	font-size: 18px;
	font-family: $font;
	font-weight: 400;
	color: $white;
	line-height: 24px;
	margin: 0 36px;
}

.acordion__article--one {
	margin-bottom: 30px;
}

.acordion__article--two {
	margin-top: 22px;
}

.acordion__item {
	margin: 9px 0;
	font-size: 18px;
	font-family: $font;
	font-weight: 400;
	color: $white;
}

.acordion__list {
	margin-left: 36px;
	margin-right: 36px;
	list-style-type: none;
}

/* failures */

.failures {
	width: 100%;
	height: 865px;
	background-color: #f7f7f7;
	background-image: url('../images/line_failures.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
}

.failures__cell--one {
	width: 33.33%;
}

.failures__cell--two {
	width: 66.66%;
	display: flex;
	align-items: center;
}

.failures__title {
	font-size: 48px;
	font-family: $font;
	font-weight: 200;
	margin-left: 171px;
	max-width: 425px;
	margin-top: 202px;
}

.failures__item {
	font-size: 24px;
	line-height: 36px;
	font-family: $font;
	font-weight: 400;
	max-width: 930px;
}

.failures__list {
	list-style-type: disc;
	margin-left: 118px;
}

.failures__strong {
	font-weight: 700;
}

/* Check */

.check {
	width: 100%;
	height: 977px;
	background-image: url('../images/line_check.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.check__text {
	font-size: 30px;
	line-height: 36px;
	font-family: $font;
	font-weight: 400;
	color: $white;
	max-width: 1110px;
	text-align: center;
	margin-bottom: 140px;
}

.check__row {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.check__cell {
	height: 312px;
	width: 370px;
	background-color: $white;
	margin: 0 15px;
	background-repeat: no-repeat;
}

.check__cell--one {
	background-image: url('../images/check_one.jpg');
}

.check__cell--two {
	background-image: url('../images/check_two.jpg');
}

.check__cell--three {
	background-image: url('../images/check_three.jpg');
}

.check__article {
	font-size: 24px;
	line-height: 30.03px;
	font-family: $font;
	font-weight: 600;
	margin-left: 17px;
	margin-top: 225px;
}