/* RWD */


@media (max-width: 1600px) {

	/* Header */

	.header {
	    padding: 0 80px;
	}

	.side__number {
    	margin-bottom: 10%;
	}

	.header__side {
		top: 40%;
	}	

	/* Services */ 

	.services__title {
    	font-size: 50px;
	}

		/* Services, About */

	.services__side, .about__side, .date__side{
    	left: 110px;
	}

	.about__article br {
		display: none;
    }

}

@media (max-width: 1400px) {

	/* Header */

	.nav__link {
    	font-size: 16px;
	}

	.nav__item {
    	margin: 0 16px;
	}

	/* Services */ 

	.services__subtitle {
    	font-size: 30px;
    }

	.services__subtitle {
    	margin-left: 30px;
    	font-size: 28px;
    }

    .services__title {
    	font-size: 40px;
	}

	/* Date */ 

	.two__numer {
		font-size: 220px;
	}
    

}

/* Large devices (desktops, 992px and less than 1200px) */
@media (max-width: 1200px) {

	/* Header */
	
	.header {
		background-image: none;
		padding: 0;
	}

	.phone__article {
    	width: 145px;
    	font-size: 16px;
	}

	.nav__item {
   	 	margin: 0 12px;
	}

	    /* Services, About, Date */

    .services__cell--one, .about__cell--one, .date__cell  {
		background-image: none;
    }

       .services__side, .about__side, .date__side {
    	left: 30px;
	}

	/* Services */ 

	.services__title {
    	font-size: 50px;
	}

	/* Date */ 
	
	.two__numer {
		font-size: 200px;
	}

	.two__article {
    	font-size: 30px;
    	line-height: 50px;
	}

	.date__cell--one {
		min-width: 250px;
	}

}

/* Hover */ 
@media (min-width: 992px) {

}

/* Medium devices (tablets, 768px and less than 992) */
@media (max-width: 991.98px) {

	/* Header */

	.navigation__nav {
		order:4;
		width: 100%;
		display: none;
	}

	.header {
		position: relative;
	}

	.navigation__menu {
		display: block;
		order: 3;
	}

	.nav__list {
		display: flex;
		flex-direction: column;
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: calc(100% - 114px);
		top: 114px;
		z-index: 2;
		justify-content: center;
		align-items: center;
	}

	.nav__item {
		margin: 20px;
		width: 100%;
	}

	.nav__link {
		color: #ffffff;
		font-size: 20px;
	}

	.header__navigation {
		flex-wrap: wrap;
	}

	.navigation__logo, .navigation__phone, .navigation__menu{
		margin-bottom: 34px; 

	}

	.navigation__menu {
		margin-left: 30px;
		font-size: 28px;
		cursor: pointer;
		width: 30px;
		text-align: center;
	}

	/* Click */ 

	.click .container {
		padding: 0;
	}

	.click .navigation__nav {
		display: block;
	}

	.click .navigation__logo {
		margin-left: 30px;
	}

	.click .navigation__menu {
		margin-right: 30px;
	}

	/* Services */ 

	.services__box {
		flex-wrap: wrap;
		width: 60%;
	}

	.services__cell {
		width: 100%;
		background-size: cover;
	}

	.services__cell--one {
		width: 40%;
	}

	.date__cell--three {
		width: 100%;
	}

	/* About */ 

	.about__article {
		margin: 0 50px;
	}

	.about__cell--one {
		min-width: 230px;
	}

	/* Date */ 

	.date__box {
		flex-wrap: wrap;
	}

	.date__cell--two {
		width: 100%;
	}

	.two__numer {
    	font-size: 160px;
	}

	.two__time {
		font-size: 20px;
		margin-top: 10px;
	}

	.two__article {
    	font-size: 26px;
    	line-height: 30px;
	}

	.tree__numer {
    	font-size: 70px; 
    }

    .tree__time {
    	font-size: 15px;
    	margin-top: 20px;
	}

	.tree__article {
    	font-size: 22px;
    	line-height: 27px;
	}

	.tree__cell--two, .tree__cell--four {
		border-right: 1px solid #000000;
    }

/* Focus */ 

}

/* Small devices (landscape phones, 576px and less than 768) */
@media (max-width: 768px) {

	/* Header */

	.header__hero {
		width: 70%;
	}

	/* About */ 

	.about__article {
		margin: 0 30px;
		font-size: 20px;
	}

	/* Date */ 

	.two__numer {
    	font-size: 130px;
	}

	.two__time {
    	font-size: 16px;
    	margin-top: 6px;
	}

	.two__article {
    	font-size: 23px;
    	line-height: 30px;
	}

	.tree__numer {
    	font-size: 50px;
	}

	.tree__time {
    	font-size: 14px;
   		margin-top: 10px;
	}

	.tree__article {
   		font-size: 18px;
    	line-height: 20px;
	}

	.tree__article {
    	width: 125px;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

	/* Header */
	
	.hero__title {
    	font-size: 40px;
	}

	/* Services */ 

	.services__title {
    	font-size: 43px;
	}

	/* About */ 

	.about__article {
		font-size: 18px;
	}

	.about__cell--one {
    	min-width: 205px;
	}

	/* Date */

	.date__cell--one {
    	min-width: 220px;
	}

	.tree__article {
    	font-size: 15px;
	}

	.date__cell--two {
    	height: 20%;
	}

	.date__cell--three {
		height: 80%;
	}

	.tree__row {
		flex-wrap: wrap;
	}

	.tree__cell {
		width: 100%; 
	}

	.two__numer {
    	font-size: 50px;
    	font-family: "Raleway", sans-serif;
    	font-weight: 500;
	}

	.two__time {
    	font-size: 14px;
    	margin-top: 10px;
	}

	.two__article {
    	font-size: 15px;
    	line-height: 20px;
    	width: 125px;
	}


}

@media (max-width: 450px) {

	/* Header */
	
	.hero__title {
    	font-size: 35px;
	}

	.header__side {
		display: none;
	}

	.navigation__phone {
		display: none;
	}

	/* Click */ 

	.click .navigation__phone {
		display: block;
		position: absolute;
		z-index: 3;
		bottom: 0;
		width: 100%;
		background-color: #ffffff;
		padding: 10px 0;
	}

	.click .phone__article {
		margin: 0 auto;
	}

	/* Services */ 

	.side__number, .side__line, .side__link {
		display: none;
	}

	.services__side {
		position: static;
	}

	.services {
		flex-wrap: wrap;
	}

	.services__cell--one {
		width: 100%;
		height: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.services__box {
		height: 75%;
		width: 100%;
	}

	.services__title {
		margin: 0;
	}

	.about {
		flex-wrap: wrap;
	}

	.about__cell--one {
		width: 100%;
		height: 212px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about__cell--two {
		width: 100%;
		height: 100%;
		display: block;
	}

	.about__side {
		position: static;
	}

	.about {
    	min-height: 500px;
	}

	.about__article {
    	margin-bottom: 100px;
    }

    /* Date */ 

    .date {
    	flex-wrap: wrap;
    }

    .date__cell--one {
    	width: 100%;
    	min-height: 212px;
    	height: 20%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }

    .date__side {
    	position: static;
    	text-align: center;
    }

    .date__box {
		width: 100%;
		height: 80%;
    }

    .date {
    	height: 1060px; 
    }

    
}